@model IEnumerable<Ringtone>
@foreach (var ringtone in Model)
{
    @if (User.Identity.IsAuthenticated)
    {
        <div class="card mb-3">
            <div class="row no-gutter">
                <div class="col-md-4">
                    <img src="~/img/@ringtone.Imageurl" alt="@ringtone.Artist" class="card-img" height="200" width="200">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@ringtone.Id"> @ringtone.Name</a>
                        </h5>
                        <p class="card-text">
                            by @ringtone.Artist
                        </p>
                        <figure class="wp-block-audio alignright"><audio controls src="~/audio/@ringtone.Audiourl"
                        type="audio/mpeg" controlsList="nodownload"></audio></figure>
                        <p class="card-text">
                            <button class="btn btn-primary">@Html.ActionLink("Add To Cart", "AddtoCart", new { id = @ringtone.Id
                        },new {@style="color:#ffffff;" })</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="card mb-3">
            <div class="row no-gutter">
                <div class="col-md-4">
                    <img src="~/img/@ringtone.Imageurl" alt="@ringtone.Artist" class="card-img" height="200" width="200">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@ringtone.Id"> @ringtone.Name</a>
                        </h5>
                        <p class="card-text">
                            by @ringtone.Artist
                        </p>
                        <figure class="wp-block-audio alignright"><audio controls src="~/audio/@ringtone.Audiourl"
                        type="audio/mpeg" controlsList="nodownload"></audio></figure>

                    </div>
                </div>
            </div>
        </div>
    }
}
